@import url("./reset.css");

/* Container using grid layout */
@media screen and (min-width: 768px)
{.container {
    display: grid;
    grid-template-columns: 40% 1fr; /* 25% for header, rest for login screen */
    grid-template-rows: auto 30px; /* Auto row for main content, 50px for footer */
    grid-template-areas: 
        "header login"
        "header footer";
    height: 100vh; /* Full screen height */
}
.heads{
    padding-top: 180px;
   
}

}

/* Header style */
.header {
    grid-area: header;
    background-color: #340202;
    color: white;
    padding: 20px;
    text-align: center;
    

}

/* Login screen style */
.login {
    grid-area: login;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Footer style */
.footer {
    
    grid-area: footer;
    background-color: #540b0b;
    color: white;
    text-align: center;
    
    
        
    
}

.subbtn{
    border-style: groove;
    background-color: hsl(0, 75%, 11%);
    color: #f4f4f4;
    padding-left: 40%;
    padding-right: 40%;
    border-radius: 10px;

}
.subbtn:hover{
    background-color: #611313;
    
}

form{
    border-style:inset;
    border-width: 6px;
    padding: 15px;
    border-radius: 5%;
    
}


@media screen and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr; /* Make it a single column */
        grid-template-rows: 0.5fr 2fr auto; /* Header, Login, Footer */
        grid-template-areas: 
            "header"
            "login"
            "footer";
    }

    .header {
        background-color: #340202;
        color: white;
        text-align: center;
        
    
    }
}
