@import url("./reset.css");

:root {
    /* color palette using custom properties (cascading variables) */
    --falu-red: #721c1c;
    --falu-red-light: #fef2f2;
    --falu-red-bright: #9a1a1a;
    --falu-red-200: #ffc9c9;

    --falu-red-dark: #460909;
    --dark-grey: #121212;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --color-background: var(--falu-red-light);
        --color-text: var(--dark-grey);
        --color-link: var(--falu-red);
        --color-link-hover: var(--falu-red-bright);
        --color-link-active: var(--falu-red-dark);
        --color-card: var(--falu-red-200);
        --color-shadow: rgba(0, 0, 0, 0.1);
        --color-highlight: var(--falu-red);
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--dark-grey);
        --color-text: var(--falu-red-light);
        --color-link: var(--falu-red-dark);
        --color-link-hover: var(--falu-red-bright);
        --color-link-active: var(--falu-red);
        --color-card: var(--falu-red);
        --color-shadow: rgba(255, 255, 255, 0.1);
        --color-highlight: var(--falu-red-200);
    }
}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif'
}

body {
    height: 100vh;
    background-color: var(--color-background);
    transition: all ease 250ms;
}

p {
    text-align: center;
    color: var(--color-text);
}

#title img {
    width: 10em;
    height: auto;
    filter: invert(1) sepia(1) saturate(0.5) hue-rotate(305deg);
    margin-right: auto;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    font-size: 1.4em;
    color: var(--falu-red-light);
    padding: 1em;
}

#title {
    display: flex;
    background-color: var(--color-link);
    padding: 1em;
    border-bottom: 3px outset white;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    color: var(--color-text);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: var(--color-link);
}

nav ul li {
    width: 100%;
    text-align: center;
    position: relative;
}

nav ul li a, .learning-path-dropdown{
    color: var(--falu-red-light);
    text-decoration: none;
    padding: 1em 0;
    display: inline-block;
    width: 100%;
}

.menu-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 1em;
    filter: invert(1) sepia(1) saturate(2) hue-rotate(300deg);
    margin-right: 0.5em;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: var(--color-card);
    box-shadow: 0 4px 8px var(--color-shadow);
    border-radius: 0 0 5px 5px;
    min-width: 150px;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 100;
}

.dropdown a {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    width: 100%;
    color: var(--color-text);
}

.dropdown a:hover {
    background-color: var(--color-highlight);
    color: var(--color-background);
}

.learning-path-dropdown:hover .dropdown {
    display: block;
}

.dropdown a:last-child {
    border-radius: 0 0 5px 5px;
}

nav ul li:hover {
    background-color: var(--falu-red-bright);
    cursor:pointer;
}

main {
    padding: 1em;
    min-height: 50vh;
}

form {
    display: flex;
    align-items: center;
    padding-bottom: 5em
}

form *{
    margin: auto 0.3em;
}

.search-box {
    padding: 0.65em;
    border: 1px solid #ddd;
    border-radius: 0.6em;
    width: 12em;
}

.search-btn {
    padding: 0.55em;
    border: none;
    background-color: var(--color-link);
    color: var(--color-link);
    cursor: pointer;
    border-radius: 0.6em;
}

.search-btn img {
    width: 1.3em;
    height: 1.3em;
    filter: invert(1) sepia(1) saturate(2) hue-rotate(300deg);
}

.search-btn:hover {
    background-color: var(--color-link-hover);
}

label {
    color: var(--color-text);
}

fieldset{
    color: var(--color-text);
    margin: 10px;
}

footer {
    text-align: center;
    color: var(--falu-red-light);
    background-color: var(--color-link);
    padding: 4em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer h2{
    color: var(--falu-red-light);
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.8em 0;
}

#socials a{
    display: flex;
    align-items: center;
    color: var(--falu-red-light);
    text-decoration: none;
    padding: 5px;
}

#socials a:hover {
    transform: translateY(-2px) ;
    border: solid 1px rgb(92, 29, 29);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#socials a img {
    padding: 0.4em 0.8em;
    filter: invert(1) sepia(1) saturate(2) hue-rotate(300deg);
}

#contact p{
    color: var(--falu-red-light);
}

.card {
    background: var(--color-card);
    min-height: 14em;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 7px var(--color-shadow);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

  }
  .card1 img {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
   
  .card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  .cardss{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 0.15em;
  }

.title-head {
    color: #8e1837;
}
.title-head span {
    font-weight: 500;
    color: #5e5e5e;
    font-family: 'helvetica-lt';
}

.action-btns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 25px;
  
  }
  
  .action-btns button {
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  .btn-update {
    background-color: #f0ad4e;
    color: #fff;
  }
  
  .btn-delete {
    background-color: #d9534f;
    color: #fff;
  }
  